* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgba(15,76,129,0.70);
    /* min-height: calc(100% - 15rem); */
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* position: relative; */
}

.navbar {
    background-color:#0f4c81;

    /* border-bottom: 1px solid coral; */
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: coral !important;
    opacity: 0.75;
}


.navbar-toggler {
    background-color: #0f4c81;
    display: flex;
    justify-content: space-around;
    outline: none;
}

.navbar-toggler-icon span {
    background-color: white;
    color: black;
}

.active {
    color: coral !important;
}

.jumbotron {
    background-color: #0f4c81;
    z-index: -1;
    position: relative;
    height: 12rem;
    width: 100%;
    min-width: 300px;
    padding: 0rem !important;
    border-bottom: 2px solid white;
    margin-top: -2.5rem;
    margin-bottom: 5rem;
    /* margin-bottom: 0.5rem; */
}

.japanese {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111;
    font-size: 10vh;
    font-weight: 700;
    text-align: center;
    width: 100%;
    z-index: 0;
    opacity: 0.15;
    position: absolute;
    padding-top: 2rem;
    letter-spacing: 5rem;
    margin-bottom: 0rem;
    height: 100%;
}


.english {
    z-index: 1;
    font-size: 70px;
    /* margin-top: 50px; */
    color: #EEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.25rem;
    position: absolute;
    /* text-shadow: 0px 0px 3px #666; */
    padding-top: 7rem;
    height: 100%;
    padding-left: 4rem;
    width: 100%;
}

.project-container {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.container-fluid {
    width: 100%;
    /* justify-self: center; */
    /* background-color: #EEE; */
    /* border-radius: 0.5rem; */
    /* border-bottom: 5px solid black; */
}

.container-label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* width: 50%; */
    /* margin: 0 auto; */
    padding: 0.25rem 0rem 0.25rem 5rem;
    /* background-color: #11538b; */
    background-color: rgba(202,155,247, 0.45);
    border-bottom: 3px solid rgba(203, 155, 247, 0.301);
    border-left: 5px solid rgba(203, 155, 247, 0.301);
    border-radius: 4px;
    margin-bottom: 2rem;
    /* outline: none; */
}

.label--right {
    margin-left: 5rem;
}

.label--left {
    margin-right: 5rem;
}

.project-card {
    /* height: 10rem; */
    width: 90%;
    display: flex;
    /* background-color: blue;
    border: 5px solid #0f487a; */
    /* display: flex; */
    /* align-content: center; */
    padding: 0;
    /* justify-content: center; */
    /* margin: 0 5rem; */
    margin-bottom: 4rem;
}

.project-card:hover {
    animation: illuminate 500ms ease-out forwards;
}

@keyframes illuminate {
    100% {
        background-color: rgba(202,155,247, 0.4);
    }
}

.project__card-contents {
    width: 100%;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(15,76,129,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(15,76,129,0.8) -5px 3px 7px 1px;
    border-radius: 0.25rem;
}

.card--left {
    justify-content: flex-start;
    margin-right: 2.5rem;
}

.card--center {
    justify-content: center;
}

.card--right {
    justify-content: flex-end;
    margin-left: 2.5rem;
}

.card-solo {
    justify-content: center;
    margin: 0 auto;
}

.project__card-contents p,
.project__card-contents div {
    width: 100%;
}

.project__tech {
    padding: 0rem;
}

.project__card-contents p,
.project__tech table {
    text-align: center;
    /* color: #2607af; */
}

.project__tech table {
    margin: 0 auto;
    background-color: rgba(15,76,129,0.25);
    /* align-items: center; */
    height: 8rem;
    width: 100%;
}

td {
    font-size: 18px;
}

.tech__link {
    color: white;
}

.tech__link:hover,
.tech__link:focus {
    color: coral;
    text-decoration: none;
}

thead {
    align-items: center;
    font-weight: 550;
    letter-spacing: 0.10rem;
    /* background-color: rgba(114, 166, 235, 0.931); */
    /* border-bottom: 2px solid #111; */
    color: rgb(9, 48, 82);
    font-style: italic;
    font-size: 15px;
    /* border-left: 5px solid rgba(197, 187, 255, 0.3);  */
}

tbody {
    color: white;
    /* background-color: rgba(1, 54, 179, 0.568); */
    /* border-left: 5px solid rgba(197, 187, 255, 0.109);  */
}
/* 
td {
    vertical-align: center !important;
} */

.project__title {
    padding-top: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-style: italic; */
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.15rem;
    margin-bottom: 0;
    color: whitesmoke;
    text-shadow: #444 -2px 0px 5px;
    position: relative;
    /* text-decoration: rgb(15,76,129) underline; */
    /* border-left: 5px solid rgba(157, 147, 215, 1.0);  */
}

/* .project__title::after {
    content: '';
    background-color: blue;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 2.25rem;
    right: 25rem;
} */

.round-tl {
    border-radius: 10rem 0 0 0 !important;
}

.project__subtitle {
    border-bottom: 3px solid rgba(15,76,129,0.60);
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    /* border-left: 5px solid rgba(157, 147, 215, 1.0);  */
}

.project__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    border-top: 3px solid rgba(15,76,129,0.60);
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    /* border-left: 5px solid rgba(157, 147, 215, 1.0);  */
    /* border-bottom: 3px solid rgb(44, 78, 228);  */
}


.links__link {
    /* margin: 0 3rem; */
    /* color: #97c8fd; */
    color: rgba(214, 236, 255, 0.8);
    padding: 0.5rem 3rem;
    /* width: 33%; */
    font-weight: 525;
    letter-spacing: 0.075rem;
    font-size: 20px;

    /* background-color:  rgb(169, 189, 166); */
}

.project__links--hover {
    color: coral;
}

.links__link:hover,
.links__link:focus {
    color: coral;
    text-decoration: none;
}

.container-label p {
    margin-bottom: 0rem;
    font-size: 30px;
    letter-spacing: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 0px 5px rgba(203, 155, 247, 1);
}

.footer {
    width: 100vw;
    background-color: rgba(15,76,129,0.8);
    border-top: 2px solid white;
    font-size: 16px;
    margin-top: 5rem;
    display: flex;
    height: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 150;
    color: #111;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    bottom: 0;
}

.footer-sm-pg {
    position: absolute;
}

.footer p {
    opacity: 0.60;
    letter-spacing: 0.05rem;

}

.footer div {
    margin-top: 0rem;
    letter-spacing: 0.2rem;
    font-size: 22px;
}

.footer__name {
    font-weight: 750;
}

.copyright {
    text-align: center;
}

.footer__links a:hover,
.footer__links a:focus {
    color: coral;
    text-decoration: none;
}

.contact-contents {
    display:flex;
}

.contact-contents img {
    display:inline-block;
    margin-bottom: 2rem;
    max-height: 600px;
    max-width: 500px;
}

.contact-contents__text {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.contact-container {
    height: 100%;
    position: relative;
    min-height: 100vh;
}

#jumbo--reflections {
    margin-bottom: 0rem;
}

.reflections-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.reflections-container h1 {
    top: 0rem;
    padding-left: 3.75rem;
    width: 100%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-bottom: 4rem;
}

.reflections__post-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.reflections__post {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: rgb(177, 184, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(15,76,129,0.8) -5px 3px 7px 1px;
    border-radius: 0.25rem;
    padding: 3rem 6rem;
}

.reflections__post h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reflections__post h2 {
    color: #333;
}

.reflections__post h3 {
    color: #444;
    font-weight: 250;
    font-style: italic;
    margin-bottom: 1rem;
}

.reflections__post a {
    color: #555;
    font-size: 18px;
    font-weight: 450;
    margin-top: 1rem;
}

.reflections__post a:hover,
.reflections__post a:focus {
    color: coral;
    text-decoration: none;
}


@media only screen and (max-width: 1600px) {
    .project-container {
        /* width: 95vw; */
    }

    #footer--contact {
        position: relative;
    }

}


@media only screen and (max-width: 1200px) {
    .project-card {
        margin: 1rem 5rem;
    }

    .card--left, .card--right {
        margin: 1rem 5rem;
    }

    .card--last, .card--solo {
        margin-bottom: 3rem;
    }

    .contact-contents {
        flex-direction: column;
    }


    .contact-contents img {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 1050px) {
    .japanese {
        letter-spacing: 3rem;
        font-size: 70px;
    }
/* 
    #footer--reflections {
        position: relative;
    } */
}

@media only screen and (max-width: 1025px) {

    #footer--reflections {
        position: relative;
    }

}

@media only screen and (max-width: 850px) {

    .project-container {
        width: 100vw;
    }

    .japanese {
        font-size: 70px;
        letter-spacing: 0.75rem;
    }

    .english {
        font-size: 60px;
    }

    .project-card {
        width: 100%;
    }

    .project__card-contents {
        width: 100%;
    }

    .reflections-container h1 {
        font-size: 40px;
    }

    .reflections__post {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 575px) {

    .navbar-brand {
        font-size: 20px;
    }

    .jumbotron {
        margin-top: -1rem;
        height: 7rem;
        margin-bottom: 2rem;
    }


    .japanese {
        font-size: 40px;
        letter-spacing: 0.50rem;
        padding-top: 1rem;
    }

    .english {
        font-size: 40px;
        padding-top: 3.25rem;
        text-align: center;
        padding-left: 0rem;
    }

    .reflections-container h1 {
        font-size: 30px;
        padding: 0;
        text-align: center;
    }

    .project-container {
        margin-bottom: 0.75rem;
    }


    .container-label {
        padding-left: 0rem;
        margin: 0 auto;
        margin-bottom: 0.25rem;
        width: 80%;
    }

    .container-label p {
        font-size: 22px;
    }

    /* .project-card {
        width: 100%;
    } */

    .project__subtitle {
        border-bottom: none;
    }

    /* .row, .col-sm, .project__card-contents, .project__card-contents div, table {
        width: 100%;
    } */

    .project__links {
        border-top: none;
    }

    .links__link {
        padding: 0;
        font-size: 16px;
        width: 33%;
    }

    .project__tech table {
        font-size: 12px;
        height: 10vh;
        font-size: 10px;
    } 

    thead {
        vertical-align: middle;
    }

    td {
        font-size: 14px;
    }

    .container-label p {
        text-align: center;
    }

    .project__card-contents {
        justify-content: center;
        width: 100%;
        /* padding: 0.5rem 0rem; */
    }

    .project-card {
        margin: 1rem auto;
        width: 100%;
    }

    .card--solo,
    .card--last {
        margin-bottom: 3rem;
    }

    .card--last {
        margin-top: 1rem;
        /* border-top: 10px solid rgba(15, 76, 129, 0); */
    }

    .contact-contents img {
        max-height: 400px;
        max-width: 300px;
        margin: 0 auto;
    }

    .contact-container h2 {
        font-size: 22px;
    }

    /* .reflections-container {
        width: 100vw;
    } */

    .reflections-container h1 {
        margin-bottom: 2rem;
    }

    .reflections__post-container {
    }

    .reflections__post {
        width: 95vw;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .reflections__post h2, h3 {
        text-align: center;
    }
    
    .post__subtitle {
        font-size: 18px;
    }

    .footer {
        font-weight: 500;
        padding: 1rem;
    }

    .footer__name {
        letter-spacing: 0.05rem;
        font-size: 18px;
    }

    .footer__links div,
    .footer__links a {
        font-weight: 500;
        font-size: 16px;
    }


}
