* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(15,76,129,0.80);
}

.navbar {
    background-color:#0f4c81;

    /* border-bottom: 1px solid coral; */
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: coral !important;
    opacity: 0.75;
}


.navbar-toggler {
    background-color: #0f4c81;
    display: flex;
    justify-content: space-around;
    outline: none;
}

.navbar-toggler-icon span {
    background-color: white;
    color: black;
}

.active {
    color: coral !important;
}

.jumbotron {
    background-color: #0f4c81;
    z-index: -1;
    position: relative;
    height: 12rem;
    width: 100%;
    min-width: 300px;
    padding: 0rem !important;
    border-bottom: 2px solid white;
    margin-top: -2.5rem;
    /* margin-bottom: 0.5rem; */
}

.japanese {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111;
    font-size: 10vh;
    font-weight: 700;
    text-align: center;
    width: 100%;
    z-index: 0;
    opacity: 0.15;
    position: absolute;
    padding-top: 2rem;
    letter-spacing: 5rem;
    margin-bottom: 0rem;
    height: 100%;
}


.english {
    z-index: 1;
    font-size: 70px;
    /* margin-top: 50px; */
    color: #EEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.25rem;
    position: absolute;
    /* text-shadow: 0px 0px 3px #666; */
    padding-top: 7rem;
    height: 100%;
    padding-left: 4rem;
    width: 100%;
}

.project-container {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.container-fluid {
    width: 100;
    /* justify-self: center; */
    /* background-color: #EEE; */
    /* border-radius: 0.5rem; */
    /* border-bottom: 5px solid black; */
}

.container-label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* width: 50%; */
    /* margin: 0 auto; */
    padding-left: 5rem;
    /* background-color: #11538b; */
    background-color: rgba(202,155,247, 0.45);
    border-bottom: 3px solid rgba(203, 155, 247, 0.301);
    /* border-left: 5px solid #082844; */
    border-radius: 4px;
    margin-bottom: 0.5rem;
    /* outline: none; */
}

.label--right {
    margin-left: 5rem;
}

.label--left {
    margin-right: 5rem;
}

.project-card {
    /* height: 10rem; */
    width: 90%;
    display: flex;
    /* background-color: blue;
    border: 5px solid #0f487a; */
    /* display: flex; */
    /* align-content: center; */
    padding: 0;
    /* justify-content: center; */
    /* margin: 0 5rem; */
}

.project__card-contents {
    width: 95%;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgb(205, 212, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card--left {
    justify-content: flex-start;
}

.card--center {
    justify-content: center;
}

.card--right {
    justify-content: flex-end;
}

.project__card-contents p,
.project__card-contents div {
    width: 100%;
}

.project__card-contents p,
.project__tech table {
    text-align: center;
    margin-bottom: 0.5rem;
}

.project__tech table {
    margin-bottom: 0rem;
    align-items: center;
    height: 8rem;
}

td {
    align-items: center;
}

.project__tech table {
    background-color: #333;
}

.project__title {
    padding-top: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0.10rem;
    margin-bottom: 0;
}

.project__subtitle {

}

.project__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    border-top: 3px solid rgba(15,76,129,0.80);
    text-align: center;
    width: 100%;
}

.container-label p {
    margin-bottom: 0rem;
    font-size: 30px;
    letter-spacing: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 3px #082844;
}


#devs {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

@media only screen and (max-width: 1050px) {
    .japanese {
        letter-spacing: 3rem;
        font-size: 70px;
    }
}

@media (max-width: 850px) {
    .japanese {
        font-size: 70px;
        letter-spacing: 0.75rem;
    }

    .english {
        font-size: 60px;
    }

}

@media screen and (max-width: 575px) {

    .navbar-brand {
        font-size: 20px;
    }

    .jumbotron {
        margin-top: -1rem;
        height: 7rem;
    }

    .japanese {
        font-size: 40px;
        letter-spacing: 0.50rem;
        padding-top: 1rem;
    }

    .english {
        font-size: 40px;
        padding-top: 3.25rem;
        text-align: center;
        padding-left: 0rem;
    }

    .project-container {
        margin-bottom: 0.75rem;
    }

    .card--solo,
    .card--last {
        margin-bottom: 1.5rem;
    }

    .card--last {
        border-top: 3px solid rgba(15,76,129,0.80);
    }

    .container-label {
        padding-left: 0rem;
        margin: 0 auto;
        margin-bottom: 0.25rem;
        width: 80%;
    }

    .project__links {
        border-top: none;
    }

    .container-label p {
        text-align: center;
    }

    .project__card-contents {
        justify-content: center;
        margin: 0 auto;
        /* padding: 0.5rem 0rem; */
    }
}
